@import "./bootstrap/customizations.scss";
//@import "./fonts/fonts.css";

body {
  padding-top: 20px;
  font-family: 'Lato';
  background-color: #f0f0f0;
  margin: 0px auto;
  max-width: 1150px;
}

fieldset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  padding: 2em;
  border: 1px solid grey;
  border-radius: 10px;

  label {
    margin-top: 10px;
    margin-right: 10px;
  }
  #submit {
    border: 1px solid grey;
  }
}


#webcam {
  width: 5em;
  position: absolute;
  margin-left: -330px;
  background-color: rgba(220,220,220, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}


#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/

}

#videoel {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/


}

#container {
  position : relative;
  width : 370px;
  /*margin : 0px auto;*/
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 600px;
  background-color: rgba(220,220,220, 0.5);
  transition: all 1.5s ease-in-out;
  &.toggle {
    transform: translateX(100%);
  }
}

h2 {
  font-weight : 400;
}

.btn {
  font-family: 'Lato';
  font-size: 16px;
}

#controls {
  text-align : center;
}

#emotion_container {
  width: 600px;
}

#emotion_icons {
  height: 50px;
  padding-left: 40px;
}

.emotion_icon {
  width : 40px;
  height : 40px;
  margin-top: 5px;
  /*margin-left : 13px;*/
  margin-left : 35px;
}

#emotion_chart, #emotion_icons {
  margin: 0 auto;
  width : 400px;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
  visibility : hidden;
}

/* d3 */
.bar {
  fill : steelblue;
  fill-opacity : .9;
}
